/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Variables */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --light-gray: #f2f2f2;
    --white: #ffffff;
    --light-green: lightgreen;
    --light-coral: lightcoral;
}

/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Navigation Styles */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand, .nav-link {
    color: var(--white) !important;
}

.nav-link:hover {
    color: var(--secondary-color) !important;
}

/* Content Styles */
.container {
    padding: 20px;
}

h1, h2, h3 {
    color: var(--primary-color);
    font-weight: 500;
}

/* Table Styles */
.table {
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    background-color: var(--white);
    border-bottom: 1px solid #dddddd;
}

.table thead {
    background-color: var(--primary-color);
    color: var(--white);
}

/* Row Styles */
.even-row {
    background-color: var(--light-gray) !important;
}

.odd-row {
    background-color: var(--white) !important;
}

/* Button Styles */
button, .btn {
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover, .btn:hover {
    background-color: #45a049 !important;
}

.btn-danger {
    background-color: var(--light-coral) !important;
}

.btn-danger:hover {
    background-color: #e63946 !important;
}

/* Form Styles */
form {
    background-color: var(--white);
    padding: 20px;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"], select, input[type="email"], input[type="file"], .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

/* Tooltip Styles */
.student {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.instructors-tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #f9f9f9;
    color: #000;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.student:hover .instructors-tooltip {
    visibility: visible;
}

/* Background Color Styles */
.green-background {
    background-color: var(--light-green);
}

.red-background {
    background-color: var(--light-coral);
}
