/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* Variables */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #FFC107;
    --light-gray: #f2f2f2;
    --white: #ffffff;
    --light-green: lightgreen;
    --light-coral: lightcoral;
    --heading-color: #2c3e50;
}

/* Base Styles */
body {
    font-family: 'Alef', 'Roboto', sans-serif;
    background-color: #F9F9F9;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    direction: rtl;
}

/* Navigation Styles */
.navbar {
    background-color: var(--primary-color);
}

.navbar-brand, .nav-link {
    font-family: 'Alef', 'Roboto', sans-serif;
    color: var(--white) !important;
}

.nav-link:hover {
    color: var(--secondary-color) !important;
}

/* Content Styles */
.container {
    padding: 20px;
}

h1, h2, h3 {
    color: var(--heading-color);
    font-weight: 700;
    font-family: 'Alef', 'Roboto', sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

/* Table Styles */
.table {
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table th, .table td {
    padding: 12px;
    text-align: right;
    background-color: var(--white);
    border-bottom: 1px solid #dddddd;
}

.table thead {
    background-color: var(--primary-color);
    color: var(--white);
}

/* Row Styles */
.even-row {
    background-color: var(--light-gray) !important;
}

.odd-row {
    background-color: var(--white) !important;
}

/* Button Styles */
button, .btn {
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
    border-radius: 4px; /* Changed from 20px to 4px for more rectangular buttons */
    padding: 10px 20px;
    font-family: 'Alef', 'Roboto', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover, .btn:hover {
    background-color: #45a049 !important;
}

.btn-danger {
    background-color: var(--light-coral) !important;
    border: none !important;
}

.btn-danger:hover {
    background-color: #e63946 !important;
}

/* Ensure buttons with the same minimum width */
.btn-primary, .btn-danger {
    min-width: 120px; /* Adjust the width based on the longer text button */
}

.table-success .btn, .table-danger .btn, .table-warning .btn {
    border: none; /* Ensure no border for buttons in success, danger, and warning rows */
}

/* Ensure buttons inside the table cell have no padding/margin */
.table td .btn {
    margin: 0;
    padding: 10px 20px;
    border: none;
}

/* Form Styles */
form {
    background-color: var(--white);
    padding: 20px;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"], select, input[type="email"], input[type="file"], .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

/* Tooltip Styles */
.student {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.instructors-tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #f9f9f9;
    color: #000;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.student:hover .instructors-tooltip {
    visibility: visible;
}

/* Background Color Styles */
.green-background {
    background-color: var(--light-green);
}

.red-background {
    background-color: var(--light-coral);
}

/* Current Assignments Table Styles */
.current-assignments-table {
    border: 2px solid #333; /* Darker outer border color for distinction */
}

.current-assignments-table th, .current-assignments-table td {
    border-width: 1px; /* Inner border width */
    border-color: #dee2e6; /* Default Bootstrap color */
}

.current-assignments-table th, .current-assignments-table td {
    width: 33.33%;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.text-right {
    text-align: right;
    direction: rtl;
}

.text-center form {
    display: inline-block;
}

.student-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.student {
    display: inline-block;
}
form {
    margin: 0;
    padding: 0;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 1rem;
    margin-right: 1.5rem;
}

.text-right {
    text-align: right;
}
