{% extends "base.html" %}

{% block content %}
<h1 class="mb-4 text-right">תצוגת שיבוצים</h1>

<div class="mb-3 text-center">
    <label class="semester-label">סמסטר א</label>
    <label class="switch">
        <input type="checkbox" id="semester_toggle" onclick="toggleSemester()" {{ 'checked' if semester == 'א' else '' }}>
        <span class="slider round"></span>
    </label>
    <label class="semester-label">סמסטר ב</label>
</div>

<a href="{{ url_for('main.download_assignments_view') }}" class="btn btn-primary mb-3">הורד קובץ אקסל</a>

<table class="table table-bordered" dir="rtl">
    <thead class="thead-light">
        <tr>
            <th class="text-right">שם הסטודנט</th>
            {% for day in days_of_week %}
            <th class="text-right">{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student_name, days in assignments_data.items() %}
        <tr>
            <td class="text-right">
                <a href="{{ url_for('main.assign_instructor', student_id=students[loop.index0].id) }}">
                    {{ student_assignments_status[student_name] }}
                </a>
            </td>
            {% for day in days_of_week %}
            <td>
                {% if days[day] %}
                <div style="background-color: {{ instructor_colors[days[day].text.split(' - ')[0]] }}; padding: 5px;">
                    {{ days[day].text }}
                </div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function toggleSemester() {
    const toggle = document.getElementById('semester_toggle');
    const semester = toggle.checked ? 'א' : 'ב';
    window.location.href = `{{ url_for('main.assignments_view') }}?semester=${semester}`;
}
</script>

{% endblock %}
