{% extends "base.html" %}

{% block content %}
<h1 class="mb-4" style="text-align: right;">
    שיבוץ קלינאית ל<span style="background-color: #8cd49c; padding: 2px 4px; border-radius: 4px;">{{ student.name }}</span>
</h1>
<form method="post" dir="rtl">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="text-right">שם קלינאית</th>
                <th class="text-right">תחום התמחות</th>
                <th class="text-right">יום זמין</th>
                <th class="text-right">הערה</th>
                <th>פעולה</th>
            </tr>
        </thead>
        <tbody>
            {% set assignment_count = student.assignments|length %}
            {% for instructor, day, assignment, student_already_assigned_to_instructor in relevant_instructor_days %}
            <tr class="table-success">
                <td class="text-right">{{ instructor.name }}</td>
                <td class="text-right">{{ instructor.area_of_expertise.name }} [{{ instructor.practice_location }}]</td>
                <td class="text-right">{{ day }}</td>
                <td class="text-right">
                    {% if day in student_assigned_days %}
                    לסטודנטית כבר יש שיבוץ ביום זה
                    {% endif %}
                </td>
                <td>
                    {% if assignment and student_already_assigned_to_instructor %}
                    <button type="submit" name="cancel_assignment_id" value="{{ assignment.id }}" class="btn btn-danger">ביטול שיבוץ</button>
                    {% elif assignment_count < 3 %}
                    <button type="submit" name="instructor_id" value="{{ instructor.id }}" onclick="document.getElementById('assigned_day').value='{{ day }}'" class="btn btn-primary" >שיבוץ</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% for instructor, day, reason in irrelevant_instructors %}
            <tr class="{% if reason == 'תחום לא מועדף של הסטודנטית' %}table-warning{% else %}table-danger{% endif %}">
                <td class="text-right" style="text-decoration: line-through;">{{ instructor.name }}</td>
                <td class="text-right" style="text-decoration: line-through;">{{ instructor.area_of_expertise.name }} [{{ instructor.practice_location }}]</td>
                <td class="text-right" style="text-decoration: line-through;">{{ day }}</td>
                <td class="text-right">{{ reason }}</td>
                <td>
                    {% if reason == 'תחום לא מועדף של הסטודנטית' and assignment_count < 3 %}
                    <button type="submit" name="instructor_id" value="{{ instructor.id }}" onclick="document.getElementById('assigned_day').value='{{ day }}'" class="btn btn-primary">שיבוץ</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" id="assigned_day" name="assigned_day">
</form>
{% endblock %}
