<!DOCTYPE html>
<html>
<head>
    <title>Clinical Assignment System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.main_view') }}">Home</a> <!-- Home now points to Current Assignments -->
        <a href="{{ url_for('main.instructors_view') }}">Instructors</a>
        <a href="{{ url_for('main.students_view') }}">Students</a>
        <a href="{{ url_for('main.current_assignments') }}">Current Assignments</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
