{% extends "base.html" %}

{% block content %}
<h1 class="mb-4 text-right">שיבוץ</h1>

<div class="mb-3 text-center">
    <form action="{{ url_for('main.import_backup_excel') }}" method="post" enctype="multipart/form-data" class="d-inline">
        <input type="file" name="file" class="form-control-file d-inline-block mb-2" required>
        <button type="submit" class="btn btn-warning">ייבא גיבוי אקסל</button>
    </form>
    <a href="{{ url_for('main.export_backup_excel') }}" class="btn btn-secondary">ייצא גיבוי אקסל</a>
</div>

<table class="table table-bordered mb-4 current-assignments-table" dir="rtl" style="table-layout: fixed; width: 100%;">
    <thead class="thead-light">
        <tr>
            <th class="text-right">שם הסטודנט</th>
            <th class="text-center">ראשון</th>
            <th class="text-center">שני</th>
            <th class="text-center">שלישי</th>
            <th class="text-center">רביעי</th>
            <th class="text-center">חמישי</th>
            <th class="text-center">שישי</th>
        </tr>
    </thead>
    <tbody>
        {% for student_data in student_assignments %}
        <tr>
            <td class="text-right">
                <div style="position: relative; padding-left: 50px;">
                    <div style="position: absolute; top: 0; left: 0; display: flex; gap: 2px;">
                        <button class="btn btn-icon" onclick="printToPDF('{{ student_data.id }}')" title="ייצוא PDF">
                            <i class="fas fa-print"></i>
                        </button>
                        <button class="btn btn-icon" onclick="emailToStudent('{{ student_data.id }}', '{{ student_data.email }}', '{{ student_data.name }}')" title="שלח אל {{ student_data.email }}">
                            <i class="fas fa-envelope"></i>
                        </button>                        
                    </div>
                    {% set student_assignments_list = student_data.assignments|selectattr('student_id', 'equalto', student_data.id)|list %}
                    {% set student_assignments_count = student_assignments_list|length %}
                    {% if student_assignments_count == 3 %}
                        <span style="color: green;">✅</span>
                    {% endif %}
                     {{ student_data.name }}
                   <br>
                    <small style="font-size: 65%;">{{ student_data.email }}</small><br>
                    <!-- <small style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;   "> -->
                    <small>
                        1. {{ student_data.preferred_fields[0] }}<br>
                        2. {{ student_data.preferred_fields[1] }}<br>
                        3. {{ student_data.preferred_fields[2] }}
                    </small>
                </div>
            </td>
            

            {% if student_data.allocation == 'אודיו ושיקום' %}
                <!-- If allocation is אודיו ושיקום, show only one cell -->
                <td class="text-center" colspan="6">אודיו ושיקום</td>
            {% else %}
                {% set days_of_week = ['ראשון', 'שני', 'שלישי', 'רביעי', 'חמישי', 'שישי'] %}
                
                {% set student_assignments_list = student_data.assignments|selectattr('student_id', 'equalto', student_data.id)|list %}
                {% set student_assignments_count = student_assignments_list|length %}
                
                {% for day in days_of_week %}
                <td class="text-center {% if student_assignments_count == 3 %}beige-background{% endif %}">
                    {% set assignment = student_data.assignments|selectattr('assigned_day', 'equalto', day)|first() %}
                    {% if assignment %}
                        {% set instructor = assignment.instructor %}
                        <form method="post" action="{{ url_for('main.remove_assignment', assignment_id=assignment.id) }}" >
                            <button type="submit" class="btn btn-cancel">ביטול</button>
                        </form>
                        <div style="border: 1px solid;font-size: 14px;max-width: 140px; padding: 4px 4px ;background-color: {{ instructor_colors[instructor.name] }};border-radius: 4px;display: inline-block;  margin: 4px auto 0; text-align: center; height: 34px;justify-content: center;align-items: center;display: flex;">
                             {{ instructor.name if instructor else '' }}
                            ב{{ instructor.practice_location if instructor else '' }}  
                        </div>
                    {% elif student_assignments_count < 3 %}
                        <!-- Tooltip for instructor availability when hovering -->
                        <div class="student-container">
                            <div class="student" data-student-id="{{ student_data.id }}" onmouseover="fetchInstructors('{{ student_data.id }}', '{{ day }}', this.querySelector('.instructors-tooltip'))">
                                <a href="{{ url_for('main.assign_instructor', student_id=student_data.id, assigned_day=day) }}" class="btn btn-primary">שיבוץ</a>
                                <div class="instructors-tooltip">טוען...</div>
                            </div>                            
                        </div>
                    {% else %}
                        <!-- Already 3 assignments, no need for more, beige background -->
                        <div class="beige-background" style="border-radius: 4px;display: inline-block;  margin: 6 auto;text-align: center; height: 32px;justify-content: center;align-items: center;display: flex;"></div>
                    {% endif %}
                </td>
            {% endfor %}            
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
.btn-icon {
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
}

.btn-icon i {
    font-size: 14px !important;
    color: #555 !important;
}

.btn-icon:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-color: #aaa !important;
}

/* Tooltip styling */
.instructors-tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #f9f9f9;
    color: #000;
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.student:hover .instructors-tooltip {
    visibility: visible;
}
</style>

<script>
function toggleSemester() {
    const toggle = document.getElementById('semester_toggle');
    const semester = toggle.checked ? 'א' : 'ב';
    window.location.href = `{{ url_for('main.current_assignments_table') }}?semester=${semester}`;
}

function printToPDF(studentId) {
    window.location.href = `/download_pdf/${studentId}`;
}

function emailToStudent(studentId, studentEmail, studentName) {
    fetch(`/download_pdf/${studentId}`)
        .then(response => response.blob())
        .then(blob => {
            const pdfUrl = URL.createObjectURL(blob);
            const nameParts = studentName.trim().split(' ');
            const firstName = nameParts[nameParts.length - 1];
            const subject = encodeURIComponent(`שיבוץ שפה ודיבור - ${studentName}`);
            const body = encodeURIComponent(`שלום ${firstName},\n\nמצורפים השיבוצים עבור שפה ודיבור לסמסטר הקרוב.\n\nשיהיה בהצלחה,\nרון`);
            const gmailUrl = `https://mail.google.com/mail/?view=cm&fs=1&to=${studentEmail}&su=${subject}&body=${body}`;
            window.open(gmailUrl, '_blank');
        });
}
</script>

{% endblock %}
