{% extends "base.html" %}

{% block content %}
<h1 class="mb-4 text-right">קלינאיות</h1>
<a href="{{ url_for('main.add_instructor') }}" class="btn btn-primary mb-4">הוסף קלינאית</a>
<a href="{{ url_for('main.download_instructors') }}" class="btn btn-success mb-4">הורד Excel</a>
<form action="{{ url_for('main.upload_instructors') }}" method="post" enctype="multipart/form-data" class="mb-4">
    <input type="file" name="file" class="form-control-file mb-2" required>
    <button type="submit" class="btn btn-warning">יבא רשומות קלינאיות</button>
</form>
<table class="table table-bordered" dir="rtl">
    <thead class="thead-light">
        <tr>
            <th class="text-right">שם</th>
            <th class="text-right">מקום תרגול</th>
            <th class="text-right">תחום התמחות</th>
            <th class="text-right">עיר</th>
            <th class="text-right">כתובת</th>
            <th class="text-right">טלפון</th>
            <th class="text-right">אימייל</th>
            <th class="text-right">סמסטרים רלוונטיים</th>
            <th class="text-right">שנות ניסיון</th>
            <th class="text-right">ימי זמינות להקצאה</th>
            <th class="text-right">מספר מקסימלי של סטודנטיות ליום</th>
            <th class="text-right">צבע</th>
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructors %}
        <tr>
            <td class="text-right">{{ instructor.name }}</td>
            <td class="text-right">{{ instructor.practice_location }}</td>
            <td class="text-right">{{ instructor.area_of_expertise.name }}</td>
            <td class="text-right">{{ instructor.city }}</td>
            <td class="text-right">{{ instructor.address }}</td>
            <td class="text-right">{{ instructor.phone }}</td>
            <td class="text-right">{{ instructor.email }}</td>
            <td class="text-right">{{ instructor.relevant_semesters }}</td>
            <td class="text-right">{{ instructor.years_of_experience }}</td>
            <td class="text-right">{{ instructor.available_days_to_assign }}</td>
            <td class="text-right">{{ instructor.max_students_per_day }}</td>
            <td class="text-right" style="background-color: {{ instructor.color }};">{{ instructor.color }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
