{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Instructors</h1>
<a href="{{ url_for('main.add_instructor') }}" class="btn btn-primary mb-4">Add Instructor</a>
<a href="{{ url_for('main.download_instructors') }}" class="btn btn-success mb-4">Download Excel</a>
<form action="{{ url_for('main.upload_instructors') }}" method="post" enctype="multipart/form-data" class="mb-4">
    <input type="file" name="file" class="form-control-file mb-2" required>
    <button type="submit" class="btn btn-warning">Import Instructor Records</button>
</form>
<table class="table table-bordered" dir="rtl">
    <thead class="thead-light">
        <tr>
            <th class="text-right">Name</th>
            <th class="text-right">Practice Location</th>
            <th class="text-right">Area of Expertise</th>
            <th class="text-right">City</th>
            <th class="text-right">Address</th>
            <th class="text-right">Phone</th>
            <th class="text-right">Email</th>
            <th class="text-right">Relevant Semesters</th>
            <th class="text-right">Years of Experience</th>
            <th class="text-right">Available Days to Assign</th>
            <th class="text-right">Max Students per Day</th>
            <th class="text-right">Color</th>
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructors %}
        <tr>
            <td class="text-right">{{ instructor.name }}</td>
            <td class="text-right">{{ instructor.practice_location }}</td>
            <td class="text-right">{{ instructor.area_of_expertise.name }}</td>
            <td class="text-right">{{ instructor.city }}</td>
            <td class="text-right">{{ instructor.address }}</td>
            <td class="text-right">{{ instructor.phone }}</td>
            <td class="text-right">{{ instructor.email }}</td>
            <td class="text-right">{{ instructor.relevant_semesters }}</td>
            <td class="text-right">{{ instructor.years_of_experience }}</td>
            <td class="text-right">{{ instructor.available_days_to_assign }}</td>
            <td class="text-right">{{ instructor.max_students_per_day }}</td>
            <td class="text-right" style="background-color: {{ instructor.color }};">{{ instructor.color }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
