{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Instructors</h1>
<a href="{{ url_for('main.add_instructor') }}" class="btn btn-primary mb-4">Add Instructor</a>
<a href="{{ url_for('main.download_instructors') }}" class="btn btn-success mb-4">Download Excel</a>
<form action="{{ url_for('main.upload_instructors') }}" method="post" enctype="multipart/form-data" class="mb-4">
    <input type="file" name="file" class="form-control-file mb-2" required>
    <button type="submit" class="btn btn-warning">Import Instructor Records</button>
</form>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Practice Location</th>
            <th>Area of Expertise</th>
            <th>City</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Relevant Semesters</th>
            <th>Years of Experience</th>
            <th>Available Days to Assign</th>
            <th>Max Students per Day</th>
            <th>Color</th> <!-- Add this line -->
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructors %}
        <tr>
            <td>{{ instructor.name }}</td>
            <td>{{ instructor.practice_location }}</td>
            <td>{{ instructor.area_of_expertise.name }}</td> <!-- Display the field name -->
            <td>{{ instructor.city }}</td>
            <td>{{ instructor.address }}</td>
            <td>{{ instructor.phone }}</td>
            <td>{{ instructor.email }}</td>
            <td>{{ instructor.relevant_semesters }}</td>
            <td>{{ instructor.years_of_experience }}</td>
            <td>{{ instructor.available_days_to_assign }}</td>
            <td>{{ instructor.max_students_per_day }}</td>
            <td style="background-color: {{ instructor.color }};">{{ instructor.color }}</td> <!-- Add this line -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
